.thumbnail {
  display: block;
  margin: 1%; auto;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #B6B6B6;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

.img-responsive {
  display: block;
  width: 100%;
  height: 300px;
}

.img-thumbnail {
  max-width: 100%;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #B6B6B6;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.img-circle {
  border-radius: 50%;
}
.img-rounded {
  border-radius: 6px;
}

header h1 { 
  font-family: 'Marck Script';
  font-weight: 400; 
}

header .md-button,
section .md-button{
  text-transform: none;
}

section .overflow-hidden{
  overflow: hidden;
}

section .price{
  font-size: 14px;
  color: #727272;
}

section .layout-padding-gt-md{
  margin: auto 10%;
  text-align: justify;
  text-justify: inter-word;
  font-weight: 550;
}

footer{
  margin-top: 60px; 
}
@media (max-width: 600px) {
  footer{
    margin-top: 0px;
  }
}


footer .label{
  color: #727272;
  font-size: 12px;
  letter-spacing: 0.02em;
}
footer .md-button{
  text-transform: none;
  font-size: 12px;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}
