<!DOCTYPE html>
<html lang="en"  ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Muebles Cauca</title>
    <link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Marck+Script' rel='stylesheet' type='text/css'>    
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/contacto.css">
</head>
<body>
	<header flex layout="row" layout-wrap>  
            <md-toolbar hide-sm hide-md>
                 <h1 class="md-display-3" layout layout-align="center center">Muebles Cauca</h1>
                 <div class="md-toolbar-tools">
                     <md-menu-bar>
                        <md-menu>
                            <md-button ng-href="index.html" target="_self">Inicio</md-button>
                            <md-button ng-href="producto.html" target="_self">Productos</md-button>
                            <md-button ng-href="quienessomos.html" target="_self">Quienes Somos</md-button>
                            <md-button ng-href="contacto.html" target="_self">Contacto</md-button>
                            <md-button ng-href="https://github.com/" target="_self">Registrarse</md-button>
                            <md-button ng-href="https://github.com/" target="_self">Ingresar</md-button>
                        </md-menu>
                    </md-menu-bar>
                 </div>
            </md-toolbar>
            <md-toolbar show-sm show-md hide layout="row">
                <div  layout="row">
                    <md-menu >
                        <md-button class="md-icon-button  md-fab" ng-click="$mdOpenMenu()">
                            <md-icon md-menu-origin>menu</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button class="md-primary" ng-click="ctrl.redial($event)" ng-href="#" target="_self">Inicio</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button class="md-primary" ng-click="ctrl.redial($event)" ng-href="#" target="_self">Productos</md-button>
                            </md-menu-item> 
                            <md-menu-item>
                                <md-button class="md-primary" ng-click="ctrl.redial($event)" ng-href="#" target="_self">Quienes somos</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button class="md-primary" ng-click="ctrl.redial($event)" ng-href="#" target="_self">Contacto</md-button>
                            </md-menu-item> 
                            <md-menu-item>
                                <md-button class="md-primary" ng-click="ctrl.redial($event)" ng-href="#" target="_self">Registrarse</md-button>
                            </md-menu-item> 
                            <md-menu-item>
                                <md-button class="md-primary" ng-click="ctrl.redial($event)" ng-href="#" target="_self">Ingresar</md-button>
                            </md-menu-item>   
                        </md-menu-content>   
                    </md-menu> 
                    <h1 class="md-headline" >Muebles cauca</h1>
                </div>             
            </md-toolbar>  
    </header>
    <section flex latout-sm="column" latout-md="row" layout-lg="row" layout-gt-lg="row">
        <md-content >
            <md-input-container flex>
                <label>Nombre</label>
                <input type="text">
            </md-input-container>
            <md-input-container flex>
                <label>Correo</label>
                <input type="text">
            </md-input-container>
            <md-input-container flex>
                <label>Asunto</label>
                <input type="text">
            </md-input-container>
            <md-input-container flex>
                <label>Mensaje</label>
                <textarea></textarea>
            </md-input-container>
        </md-content>
        <md-content>
            <md-button class="md-fab md-primary md-hue-2" aria-label="Eat cake">
                <md-icon>menu</md-icon>
            </md-button>
        </md-content>
    </section>
    <footer flex layout="column" layout-padding class="default-primary-color">
        <md-content layout layout-align="center center" class="label md-caption default-primary-color" >
            <div>Copyright © 2015</div>            
        </md-content>
        <md-content class="label md-caption">
            <md-menu-bar layout layout-align="center center" class="default-primary-color" hide-sm >
                <md-menu><md-button ng-href="#" target="_self">Inicio</md-button></md-menu>
                <md-menu><md-button ng-href="#" target="_self">Productos</md-button></md-menu>
                <md-menu><md-button ng-href="#" target="_self">Quienes somos</md-button></md-menu>
                <md-menu><md-button ng-href="#" target="_self">Contacto</md-button></md-menu>
                <md-menu><md-button ng-href="#" target="_self">Registrarse</md-button></md-menu>
            </md-menu-bar>
        </md-content>
    </footer>       
    
    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-aria.min.js"></script>
    <!-- Angular Material -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.js"></script>


    <script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="js/controlador/MenuCtrl.js"></script>
</body>
</html>